version: '3'
services:
  {{ MASTER_NAME }}:
    image: mysql:8.0
    container_name: {{ MASTER_NAME }}
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
    ports:
      - "3306:3306"
    networks:
      - mysql_net
    volumes:
      - ./config/mysql_master.cnf:/etc/mysql/my.cnf

  {% for i in range(1, SLAVE_COUNT + 1) %}
  {{ SLAVE_NAME }}_{{ i }}:
    image: mysql:8.0
    container_name: {{ SLAVE_NAME }}_{{ i }}
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
    networks:
      - mysql_net
    volumes:
      - ./config/slave_{{ i }}.cnf:/etc/mysql/my.cnf
  {% endfor %}

networks:
  mysql_net:
    driver: bridge

