{% set MYSQL_ROOT_PASSWORD = env.MYSQL_ROOT_PASSWORD or 'pass' %}
{% set MYSQL_USER = env.MYSQL_USER or 'user' %}
{% set MYSQL_PASSWORD = env.MYSQL_PASSWORD or 'pass' %}
{% set MYSQL_DATABASE = env.MYSQL_DATABASE or 'pss' %}

version: '3.8'

services:
  master:
    container_name: master
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
      MYSQL_USER: {{ MYSQL_USER }}
      MYSQL_PASSWORD: {{ MYSQL_PASSWORD }}
      MYSQL_DATABASE: {{ MYSQL_DATABASE }}
    restart: "no"
    ports:
      - "3306:3306"
    volumes:
      - ./master_data:/var/lib/mysql
      - ./master.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - mysql_net

  slave1:
    container_name: slave1
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
      MYSQL_USER: {{ MYSQL_USER }}
      MYSQL_PASSWORD: {{ MYSQL_PASSWORD }}
      MYSQL_DATABASE: {{ MYSQL_DATABASE }}
    restart: "no"
    depends_on:
      - master
    ports:
      - "3307:3306"
    volumes:
      - ./slave1_data:/var/lib/mysql
      - ./slave1.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - mysql_net

  slave2:
    container_name: slave2
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
      MYSQL_USER: {{ MYSQL_USER }}
      MYSQL_PASSWORD: {{ MYSQL_PASSWORD }}
      MYSQL_DATABASE: {{ MYSQL_DATABASE }}
    restart: "no"
    depends_on:
      - master
    ports:
      - "3308:3306"
    volumes:
      - ./slave2_data:/var/lib/mysql
      - ./slave2.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - mysql_net

  migration:
    container_name: migration
    image: flyway/flyway
    command: -url=jdbc:mysql://mysql-master:3306/{{ MYSQL_DATABASE }} -user=root -password={{ MYSQL_ROOT_PASSWORD }} migrate
    volumes:
      - ./migrations:/flyway/sql
      - ./slave2.cnf:/etc/mysql/conf.d/my.cnf
    depends_on:
      - master
    networks:
      - mysql_net

networks:
  mysql_net:
    driver: bridge

